<%= form_for @job do |f| %>
  <div>
    <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@job.errors.count, "error") %>
        prohibited this job from being saved:
      </h2>
      <ul>
        <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_field :description, size: '60x6' %>
    </p>
    <p>

    <p>
      <%= f.label :location %><br>
      <%= f.text_field :location %>
    </p>

    <p>
      <%= f.label :salary %><br>
      <%= f.text_field :salary %>
    </p>

    <p>
      <%= f.label :contract_type %><br>
      <%= f.text_field :contract_type %>
    </p>

    <p>
      <%= f.label :keywords %><br>
      <%= f.text_field :keywords %>
    </p>




      <%= f.submit %>
    </p>
<% end %>
